    <div class="p-3 mb-3 bg-dark text-white rounded">
        <p>
        Según lo expuesto por Vanity Fair, los jeans son de la marca italiana The Attico, creada por Gilda Ambrosio y Giorgia Tordini en 2016. Lo curioso del caso es que la e-commerce de moda que lo vende, Luisa Viaroma, señala que esta prenda se encuentra descontinuada y tiene un valor de 1.930 euros que, convertido a la moneda colombiana, serían aproximadamente 8 millones 370 mil pesos.
        </p>
        <p class="mb-8">
        James Rodríguez encara la recta final de la temporada con el reto de demostrar que tiene la madera para hacerse con un puesto en la titular. Después de su paso por la Selección Colombia en la doble fecha de octubre, el volante cucuteño parecía elegido para comandar a São Paulo hacia un mejor desenlace en el Brasileirao, pero todo cambió en cuestión de días.
        </p>
    </div>
    
    <p>
    Primicia: <strong>Procuraduría abre investigación</strong> por graves irregu laridades en inteligencia del Ejército que fueron reveladas por SEMANA
    </p>

    <a href="{{ path('app_comments') }}" class="btn btn-warning btn-lg">Comentarios</a>

